[submodule "tree-sitter-verilog"]
	path = tree-sitter-verilog
	url = git@github.com:tree-sitter/tree-sitter-verilog.git
[submodule "tree-sitter-c"]
	path = tree-sitter-c
	url = git@github.com:tree-sitter/tree-sitter-c.git
